.typo-h {
	font-weight: 700;
	line-height: 1.25;
	text-wrap: balance;
	color: var(--color-accent);
}

.typo-l {
	font-weight: 400;
	font-size: var(--text-xs);
	line-height: 1.25;
	text-wrap: balance;
}

/* Rich text (WYSIWYG output) */
.typo-r {
	font-weight: 400;
	line-height: 1.5;

	img {
		max-width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-weight: 700;
		line-height: 1.25;
		text-wrap: balance;
	}

	h2 {
		font-size: var(--text-h2);
	}

	h3 {
		font-size: var(--text-h3);
	}

	h4 {
		font-size: var(--text-h4);
	}

	h5 {
		font-size: var(--text-h5);
	}

	* + h2,
	* + h3,
	* + h4,
	* + h5 {
		margin-top: calc(var(--spacing) * 8);
	}

	h2:has(+ *),
	h3:has(+ *),
	h4:has(+ *),
	h5:has(+ *) {
		margin-bottom: calc(var(--spacing) * 2);
	}

	p {
		margin-bottom: calc(var(--spacing) * 4);

		&:last-child {
			margin-bottom: 0;
		}
	}

	hr {
		margin-block: calc(var(--spacing) * 6);
		border: 1px solid rgb(0 0 0 / 0.15);
	}

	a:not(.btn) {
		color: var(--color-accent);
		font-weight: 600;
		text-decoration-line: underline;

		&:hover {
			color: color-mix(in oklab, var(--color-accent) 50%, transparent);
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		margin-bottom: calc(var(--spacing) * 6);

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			list-style-type: none;
			margin-bottom: calc(var(--spacing) * 2);
			padding-left: calc(var(--spacing) * 5);

			&::before {
				content: "\e122";
				font-family: var(--font-icons);
				position: absolute;
				left: 0;
				color: var(--color-accent);
				top: 0.15em;
				line-height: 1;
				width: 1em;
				text-align: center;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
			}
		}

		ul {
			margin-top: calc(var(--spacing) * 6);
			margin-left: calc(var(--spacing) * 6);
		}
	}

	ol {
		display: flex;
		flex-direction: column;
		margin-bottom: calc(var(--spacing) * 6);
		padding-left: calc(var(--spacing) * 4);

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			list-style-type: decimal;
			margin-bottom: calc(var(--spacing) * 1);

			&::marker {
				font-weight: 700;
			}
		}

		ul,
		ol {
			margin-top: calc(var(--spacing) * 6);
			margin-left: calc(var(--spacing) * 6);
		}
	}

	blockquote {
		margin-left: calc(var(--spacing) * 12);
		margin-bottom: calc(var(--spacing) * 6);
		line-height: 1.2;
		text-wrap: balance;
		color: var(--color-accent);
		font-size: clamp(1.25rem, 1rem + 1.25vw, 2rem);
	}

	table {
		width: 100%;
		margin-bottom: calc(var(--spacing) * 4);
		vertical-align: top;
		background: white;
		border: 1px solid color-mix(in oklab, currentcolor 20%, transparent);

		> :not(caption) > * > * {
			padding: calc(var(--spacing) * 2.5);
			border-bottom: 1px solid currentcolor;
		}

		> tbody {
			vertical-align: baseline;
		}

		> thead {
			vertical-align: bottom;
		}

		.caption-top {
			caption-side: top;
		}

		&.table-striped > tbody > tr:nth-of-type(odd) > * {
			background: var(--color-light);
		}

		&.table-striped-columns > :not(caption) > tr > :nth-child(even) {
			background: var(--color-light);
		}
	}
}
