.btn {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	padding-inline: calc(var(--spacing) * 4);
	padding-block: calc(var(--spacing) * 2);
	border: 1px solid color-mix(in oklab, var(--color-dark) 20%, transparent);
	border-radius: var(--radius-md);
	background: var(--color-light);
	font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
	font-weight: 600;
	letter-spacing: var(--tracking-wide);
	text-transform: uppercase;

	&:hover {
		background: var(--color-dark);
		color: white;
	}

	&.btn-accent {
		background: var(--color-accent);
		color: white;

		&:hover {
			background: var(--color-dark);
		}
	}
}
