.form {
	.wpcf7-form {
		display: grid;
		gap: calc(var(--spacing) * 6);

		@media (width >= theme(--breakpoint-md)) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		&.sent {
			.wpcf7-form-control-wrap {
				display: none;
			}
		}

		&.submitting {
			[type="submit"] {
				opacity: 0.5;
			}
		}
	}

	.form-group {
		display: grid;
		align-self: start;

		&.full {
			grid-column: 1 / -1;
		}

		label {
			margin-bottom: calc(var(--spacing) * 2);
		}
	}

	.check-group {
		display: grid;
		gap: calc(var(--spacing) * 2);

		&.full {
			grid-column: 1 / -1;
		}
	}

	.send-group {
		grid-column: 1 / -1;
		display: flex;
		justify-content: flex-end;

		.send-btn {
			position: relative;
			display: grid;

			.wpcf7-spinner {
				position: absolute;
				align-self: center;
			}
		}
	}

	input,
	textarea,
	select {
		&:focus,
		&:focus-visible {
			outline: none;
			box-shadow: none;
		}
	}

	.form-input,
	.form-textarea,
	.form-select,
	.form-multiselect {
		width: 100%;
	}

	.form-toggle {
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: calc(var(--spacing) * 1.5);

		.form-checkbox,
		.form-radio {
			margin-top: 3px;

			&:focus {
				border-color: var(--color-focus);
			}

			&:checked {
				background-color: var(--color-accent);
			}
		}

		.toggle-label {
			a {
				font-weight: 600;
				text-decoration-line: underline;

				&:hover {
					color: var(--color-accent);
				}
			}
		}
	}

	.wpcf7-checkbox,
	.wpcf7-radio {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: calc(var(--spacing) * 6);
	}

	.wpcf7-list-item {
		margin: 0;
	}

	.wpcf7-not-valid {
		border-color: var(--color-error);
	}

	.wpcf7-not-valid-tip {
		display: block;
		margin-block: calc(var(--spacing) * 1);
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		font-weight: 400;
		color: var(--color-error);
	}

	.wpcf7-response-output {
		position: relative;
		margin: 0 !important;
		margin-block: auto;
		border: 1px solid;
		border-radius: var(--radius-sm);
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
		font-weight: 400;

		&.wpcf7-validation-errors {
			border-color: var(--color-error);
			color: var(--color-error);
		}
	}
}
