/* Tailwind */
@import "tailwindcss";

/* Lenis */
@import "./plugins/lenis";

/* Base */
@import "./base/base";
@import "./base/typography";
@import "./base/custom";

/* SwiperJS */
/* @import "../../node_modules/swiper/swiper"; */
/* @import "../../node_modules/swiper/modules/pagination"; */
/* @import "../../node_modules/swiper/modules/navigation"; */
/* @import "../../node_modules/swiper/modules/effect-fade"; */
/* @import "./plugins/swiper"; */

/* vLitejs player */
@import "../../node_modules/vlitejs/dist/vlite.css";
@import "../../node_modules/vlitejs/dist/plugins/volume-bar.css";
@import "./plugins/vlite";

/* VenoBox lightbox */
@import "../../node_modules/venobox/dist/venobox.min.css";
@import "./plugins/venobox";

/* Partial */
@import "./partial/buttons";
@import "./partial/forms";
@import "./partial/main-menu";
@import "./partial/mobile-menu";
@import "./partial/pagination";

/* Tailwind theme variables */
@theme {
	--color-verde: #609422;
	--breakpoint-3xl: 112rem;
	--font-poppins: "Poppins", sans-serif;
	--text-h1: clamp(2rem, 1.5rem + 2vw, 3.25rem);
	--text-h2: clamp(1.75rem, 1.4rem + 1.5vw, 2.5rem);
	--text-h3: clamp(1.5rem, 1.25rem + 1.25vw, 2rem);
	--text-h4: clamp(1.25rem, 1.1rem + 0.75vw, 1.75rem);
	--text-h5: clamp(1.125rem, 1rem + 0.5vw, 1.5rem);
}

/* Tailwind utilities */
@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
}

/* Tailwind plugins */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* Root */
:root {
	--font-icons: "Font Awesome 6 Pro";
	--font-brands: "Font Awesome 6 Brands";
}
