/* Tailwind */
@import "tailwindcss";

/* Base */
@import "./base/base";
@import "./base/custom";

/* Partial */
@import "./partial/main-menu";
@import "./partial/mobile-menu";

/* SwiperJS */
/* @import '../../node_modules/swiper/swiper'; */
/* @import '../../node_modules/swiper/modules/pagination'; */
/* @import '../../node_modules/swiper/modules/navigation'; */
/* @import '../../node_modules/swiper/modules/effect-fade'; */
/* @import '../../node_modules/swiper/modules/thumbs'; */
/* @import './plugins/swiper'; */

/* Plyr by Vidstack */
/* @import '../../node_modules/vidstack/player/styles/plyr/theme.css';
@import '../../node_modules/vidstack/player/styles/base.css';
@import './plugins/plyr'; */

/* Vidstack */
/* @import '../../node_modules/vidstack/player/styles/default/theme.css'; */
/* @import '../../node_modules/vidstack/player/styles/default/layouts/video.css'; */

/* Tailwind theme variables */
@theme {
	--color-verde: #609422;
	--breakpoint-3xl: 112rem;
	--font-poppins: "Poppins", sans-serif;
	--text-h1: clamp(2rem, 1.5rem + 2vw, 3.25rem);
}

/* Tailwind utilities */
@utility container {
	margin-inline: auto;
	padding-inline: 1.5rem;
}

/* Tailwind plugins */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* Root */
:root {
	--font-icons: "Font Awesome 6 Pro";
	--font-brands: "Font Awesome 6 Brands";
	--plyr-color-main: var(--color-verde);
	--plyr-border-radius: 0;
}
